<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../sass/tabs.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Pinyon+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hero">
        <div class="window">
            <h1>Tabs</h1>
            <div class="hero__tabs">
                <div class="tab-head">
                    <div class="tab-head__item active">tab 1</div>
                    <div class="tab-head__item">tab 2</div>
                    <div class="tab-head__item">tab 3</div>
                    <div class="tab-head__item">tab 4</div>
                </div>
                <div class="tab-content">
                    <div class="tab-content__item active">
                        <h2>Lorem ipsum dolor1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque distinctio eaque eum ex illo, labore laboriosam praesentium suscipit temporibus.</p>
                    </div>
                    <div class="tab-content__item">
                        <h2>Lorem ipsum dolor2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque distinctio eaque eum ex illo, labore laboriosam praesentium suscipit temporibus.</p>
                    </div>
                    <div class="tab-content__item">
                        <h2>Lorem ipsum dolor3</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque distinctio eaque eum ex illo, labore laboriosam praesentium suscipit temporibus.</p>
                    </div>
                    <div class="tab-content__item">
                        <h2>Lorem ipsum dolor4</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque distinctio eaque eum ex illo, labore laboriosam praesentium suscipit temporibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="tabs.js"></script>
</body>
</html>