<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initital-scale=1.0">
    <title>Navbar</title>
    <script src="https://kit.fontawesome.com/41a8dd7285.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../sass/navbar.css">
</head>
<body>
    <header class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <h1 class="nav-logo">toggle navbar</h1>
            <button class="nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- links -->
        <ul class="links">
            <li class="links-item"><a href="#">Home</a></li>
            <li class="links-item"><a href="#">About</a></li>
            <li class="links-item"><a href="#">Projects</a></li>
            <li class="links-item"><a href="#">Contact</a></li>
        </ul>
        <!-- social media -->
        <ul class="social-icons">
            <li class="icon-item">
                <a href="#">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="#">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="#">
                    <i class="fab fa-whatsapp-square"></i>
                </a>
            </li>
        </ul>
    </header>
    <script src="navbar.js"></script>
</body>
</html>
<!--<nav>-->
<!--    <div class="nav-center">-->
<!--        &lt;!&ndash; nav header &ndash;&gt;-->
<!--        <div class="nav-header">-->
<!--            <img src="./logo.svg" class="logo" alt="logo" />-->
<!--            <button class="nav-toggle">-->
<!--                <i class="fas fa-bars"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; links &ndash;&gt;-->
<!--        <ul class="links">-->
<!--            <li>-->
<!--                <a href="index.html">home</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="about.html">about</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="projects.html">projects</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="contact.html">contact</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        &lt;!&ndash; social media &ndash;&gt;-->
<!--        <ul class="social-icons">-->
<!--            <li>-->
<!--                <a href="https://www.twitter.com">-->
<!--                    <i class="fab fa-facebook"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.twitter.com">-->
<!--                    <i class="fab fa-twitter"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.twitter.com">-->
<!--                    <i class="fab fa-behance"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.twitter.com">-->
<!--                    <i class="fab fa-linkedin"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.twitter.com">-->
<!--                    <i class="fab fa-sketch"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->